<div class="container-fluid">
<h3>
  Keranjang Belanja
</h3>

<div class="clearfix" style="padding-bottom: 20px">
	<button class="btn btn-primary float-right">BUAT DATA BARU</button>
</div>

<ul class="list-group">
  <li class="list-group-item">poloshitam</li>
  <li class="list-group-item">poloskuning</li>
  
</ul>


</div>